{% extends "base.html" %}
{% load staticfiles %}

 <!-- ----- INDEX NAV ----- -->
{% block nav %}
{% endblock %}
 <!-- ----- END INDEX NAV ----- -->

{% block content %}
  <!-- header content with image -->
  <div class="index_image container-fluid bg-2 text-center container-fluid-about" id="about_home">
    <h1>Zachary Stall</h1>
    <h4>Developer in Denver Colorado</h4>
    <!-- attention grabber image -->
    <img  class="img-responsive rounded-circle margin"
          src="{% static 'ZachStallPortfolio/about_media/aboutme_image.jpg' %}"
          alt="Pic Not Loadin - just my ugly mug"
          width="350"
          height="auto">
  </div>

  <!-- First Container -->
  <div class="container-fluid text-center container-fluid-about">
    <h3 class="margin">Jr Dev Ready to Make an Impact</h3>
    <div class="container">
      <p>I am a lifelong learner, who has found a intrinsic interest and passion
        for technology. I have an analytical mind, and love problem solving on
        all scales. At this point in my career, I am interested in and qualified
        for Junior or entry level development/engineering positions. My direct
        experience has been in HTML, CSS, JavaScript, PHP, and other tools to
        create online educational content (Lectora, Adobe, etc.). Through passion
        projects, formal educations, and self teaching I have experience with
        Python, Java, Django Framework, GitHub, Git, Anaconda (virtual environments)
        and have been exposed to SQL, PostgreSQL, and C#.
        My unique background as a high school mathematics teacher and school
        administrator has allowed me to develop a broad skill set. I am a
        strong problem solver, organizer, and collaborator.  I thrive in a team
        setting and I am eager to find a position where I can learn best practice
        and how to have a positive impact right away by working with a group of
        experienced developers. If you’d like to learn more about me or my background,
        please contact me directly at <a id="email" href="mailto: zstall4@gmail.com"> zstall4@gmail.com </a>
        or review my resume below.
</p>
    </div>
  </div>

  <!-- Second Container -->
  <div class="container-fluid bg-2 text-center container-fluid-about">
    <h3 class="margin">Resume</h3>
    <embed  type="application/pdf"
            src="{% static 'ZachStallPortfolio/about_media/resume.pdf' %}"
            width="75%" height="600px">
  </div>

  <!-- Third Container -->
  <div class="container-fluid text-center container-fluid-about">
    <h3 class="margin">More About Me</h3>
    <div class="row">
      <div class="col-sm-4">
        <p>I am a Colorado native. I grew up in Lyons Colorado and attended Lyons
          Middle/Senior High. My senior year our high school football team made
          the 1A state championship game. I had a great high school experience,
          and this is what ultimately lead me to pursuing a career in education.
          I went to Colorado State University and earned a BS in Mathematics.
          At the end of college I met Caitlin, my beautiful wife. I started
          teaching math and coaching at Thompson Valley High School in Loveland
          Colorado.</p>
      </div>
      <div class="col-sm-4">
        <p> I completed my MS in Administration from CSU, and wound up
          finding a job in Denver at Manual High School where I taught math and
          joined their leadership team. After four rewarding years at Manual, I
          took a administrative position at Bennett School District where I
          eventually earned the Bennett Middle School Principal position.
          My whole life I have had a passion for technology. As a hobby I have
          built computers for myself and friends. </p>
          <br>
      </div>
      <div class="col-sm-4">
        <p> As I got more and more into
            building computers I started exploring programming.
            One of the first books I remember reading was “How to Automate the Boring Stuff” by Al
            Sweigart. I was hooked, and extremely lucky to have a wife who supports
            me in pursuing my passion. In the spring of 2016 I started taking night
            courses and actively working towards changing careers. It has been
            very challenging, and even more rewarding. I am excited to see what
            the future brings! </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img  class="hover-shadow"
              src="{% static 'ZachStallPortfolio/about_media/aboutme_image_alt.jpg' %}"
              class="img-responsive margin"
              style="width:80%"
              alt="img not working. :(">
      </div>
      <div class="col-sm-4">
        <img  class="hover-shadow"
              src="{% static 'ZachStallPortfolio/about_media/aboutme_zc_image.jpg' %}"
              class="img-responsive margin" style="width:80%"
              alt="img not working. :(">
      </div>
      <div class="col-sm-4">
        <img  class="hover-shadow"
              src="{% static 'ZachStallPortfolio/about_media/aboutme_image.jpg' %}"
              class="img-responsive margin"
              style="width:80%"
              alt="img not working. :(">
      </div>
    </div>
  </div>

{% endblock %}
