{% extends "base.html" %}
{% load staticfiles %}
{% load embed_video_tags %}

 <!-- ----- INDEX NAV ----- -->
{% block nav %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'zBLOG:zblog_about' %}">zBlog About</a>
  </li>
</ul>
<ul class="navbar-nav ml-auto">
{% if user.is_authenticated %}
  <li class="nav-item ml-auto">
    <a class="nav-link" href="{% url 'zBLOG:post_new' %}">New Post</a>
  </li>
  <li class="nav-item ml-auto">
    <a class="nav-link navbar-right" href="{% url 'zBLOG:post_draft_list' %}">Drafts</a>
  </li>
  <li class="nav-item ml-auto">
    <a class="nav-link navbar-right" href="{% url 'logout' %}">Log Out</a>
  </li>
  <li class="nav-item ml-auto">
    <a class="nav-link navbar-right">Welcome: {{user.username}}</a>
  </li>
{% else %}
  <li class="nav-item ml-auto">
    <a class="nav-link ml-auto" href="{% url 'login' %}">Login</a>
  </li>
{% endif %}
</ul>
{% endblock %}
 <!-- ----- END INDEX NAV ----- -->
{% block content %}
<div class="post_header_image_zblog">
  <h1 class="post_tittle">{{ post.title }}</h1>
  <h5 class="post_title">{{ post.sub_title }}</h5>
</div>
<div class="container centerstage">
  <!-- {% if post.published_date %}
    <div class="date postdate">
      {{ post.published_date }}
    </div>
  {% else %}
  <br>
  <a class="btn btn-primary" href="{% url 'zBLOG:post_publish' pk=post.pk %}">Publish</a>
  <br>
  {% endif %} -->
  <div class="row">
    <div class="col-lg-4">
      <img class="post-image" src="{{ post.blog_image.url }}" alt="">
    </div>
    <div class="col-lg-8">
      {% if post.published_date %}
        <div class="date postdate">
          <p>Posted on: {{ post.published_date }}</p>
        </div>
      {% else %}
      <br>
      <a class="btn btn-primary" href="{% url 'zBLOG:post_publish' pk=post.pk %}">Publish</a>
      <br>
      {% endif %}
      <p class="postcontent">{{ post.text|safe|linebreaksbr }}</p>
      {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'zBLOG:post_edit' pk=post.pk %}">
          Edit
        </a>
        <a class="btn btn-danger" href="{% url 'zBLOG:post_remove' pk=post.pk %}">
          Delete
        </a>
        <br><br>
      {% endif %}
      <div class="embed_video">
          {% video post.post_video 'small' %}
      </div>
    </div>
  </div>



  <div class="col-md-3">
    <!-- {# <img class="post-image" src="{{ post.blog_image.url }}" alt=""> #} -->
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'zBLOG:add_comment_to_post' pk=post.pk %}">
      Add a Comment
    </a>

  </div>
  <div class="col-md-8">


    <hr>
    <div class="container">

      <p>All comments will be approved before they are posted.</p>

      {% for comment in post.comments.all %}
        <br>

        {% if user.is_authenticated and comment.approved_comment %}
          <hr>
          <a class="btn btn-danger btn-xs btn-comment" href="{% url 'zBLOG:comment_remove' pk=comment.pk %}">
            Delete
          </a>
        {% endif %}


        {% if user.is_authenticated or comment.approved_comment %}
          {{ comment.created_date }}
            {% if not comment.approved_comment %}
            <a class="btn btn-default" href="{% url 'zBLOG:comment_remove' pk=comment.pk %}">
              Delete
            </a>
            <a class="btn btn-primary" href="{% url 'zBLOG:comment_approve' pk=comment.pk %}">
              Okay
            </a>
            {% endif %}
            <p>{{comment.text|safe|linebreaks}}</p>
            <p>Posted By: {{comment.author}}</p>
        {% endif %}
        {% empty %}
        <p>No Comments.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
